html {
    height: 100vh;
    width: 100vw;
    font-size: 3vw;
  }
input{
    font-size: 3vw;
}
body{
    background-color:AliceBlue;
    text-align: center;
}
.username{
    display:none;
}
.right{
    float:right;
}
.info{
    clear:both;
}
.item{
    width: 37vw;
    height:2vh;
    text-align: center;
}
.text{
    height:10vh;
    width:85vw;
}
.nickname{
    text-align: left;
}
.date{
    text-align: left;
}
.last{
    text-align: left;
}