/*html {
    height: 100vh;
    width: 100vw;
    font-size: 3vw;
  }
input{
    font-size: 3vw;
}
body{
    text-align: center;
    background-color:AliceBlue;
}
.right{
    float:right;
}
.clear{
    clear:both;
}
.boardId{
    width:5vw;
}
.text{
    height:10vh;
    width:85vw;
}
.id{
    text-align: left;
}
.nickname{
    text-align: left;
}
.date{
    text-align: left;
}
.last{
    text-align: left;
}*/
html {
    height: 100vh;
    width: 100vw;
    font-size: 50px;
  }
input{
    font-size: 25px;
}
body{
    text-align: center;
    background-color:AliceBlue;
}
.right{
    float:right;
}
.commentArea{
    font-size:40px;
    width:18rem;
    height:4em;
    overflow:auto;
    border:1px solid rgb(224, 33, 208);
}
h4{
    margin-bottom: 2px;;
}
.boardId,.change-text{
    text-align:left;
    font-size:40px;
    margin-left:0.2rem;
}
#id{
    font-size:30px;
    height:2em;
    width:3em;
    text-align:center;
    border:1px solid rgb(224, 33, 208);
}
.clear{
    clear:both;
}
.line{
    height:1px;
    background-color:#aeb9b9;
    margin-top:12px;
}
.board{
    font-size:40px;
    margin-left:0.2rem;
    margin-top:50px;
}
.head{
    display:flex;
    justify-content: space-between;
}
.id{
    font-size:30px;
}
.text{
    text-align:left;
    border:1px solid rgb(16, 158, 144);
    padding-left:0.3rem;
}
.nickname{
    text-align: left;
    font-weight:700;
}
.date{
    text-align: left;
    font-size:30px;
    color:rgb(139, 135, 129);
}
.last{
    text-align: left;
    font-size:30px;
    color:rgb(139, 135, 129);
}